<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>RoboExample2971</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex h-100">
    <div class="d-flex flex-column h-100 w-100 mx-auto bg-body">
      <%= render "layouts/header" %>

      <%= render "layouts/flash_messages" %>

      <main class="d-flex flex-column justify-content-start h-100 p-2 mx-auto bg-body">
        <%= yield %>
      </main>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
